<div class="empAtt">
<div class="atndiv">
    
    <label>
      Select Employee
    <select (change)="empChange($event)"  [(value)]="selected" class="styled-select blue semi-square">   
        <option  *ngFor="let emp of empList" [(ngValue)]="emp.fgtid">{{emp.fgtid}}</option>
      </select>     
    </label> 
  </div>
<full-calendar  id="fullcalendar" #fullcalendar (dayRender)="dayRender($event)" [googleCalendarApiKey]="options.googleCalendarApiKey" [events]="options.events" [header]="options.header" (dateClick)="dateClick($event)" (eventClick)="eventClick($event)" defaultView="dayGridMonth"  [plugins]="options.plugins">
</full-calendar>
<!-- <div id="calendar"></div> -->
<!-- <input [ngxTimepicker]="picker">
    <ngx-material-timepicker #picker></ngx-material-timepicker> -->
    <div class="toggle-custom-icon-example">
        <input [ngxTimepicker]="toggleIcon" [disableClick]="true" readonly>
        <ngx-material-timepicker-toggle [for]="toggleIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" style="color:warn;" class="nice-event" width="5px" height="30px" ngxMaterialTimepickerToggleIcon>
                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
            </svg>
        </ngx-material-timepicker-toggle>
        <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
    </div>
    <div class="ngx-timepicker-field-example nice-event">
            <ngx-timepicker-field [buttonAlign]="'left'" ></ngx-timepicker-field>
        </div>
    <!-- <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker matSuffix #toggleTimepicker></ngx-material-timepicker> -->
</div>