<full-calendar  #fullcalendar (dayRender)="dayRender($event)" [header]="options.header" 
[selectable]="options.selectable" (dateClick)="dateClick($event)" (eventClick)="eventClick($event)" [eventSources]="options.eventSources" 
(select)="select($event)" defaultView="dayGridMonth"  [plugins]="options.plugins" [googleCalendarApiKey]="options.googleCalendarApiKey" [events]="options.events"></full-calendar>
<button (click)="calldayRender()">click</button>
<h1>FULL CALENDAR</h1>
<!-- <div id="homeCalendar"></div> -->
<!-- <div class="image-upload">
    <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
    <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
</div> 
<h1>DEVEXTREME SCHEDULER</h1>
<dx-scheduler
    [dataSource]="dataSource"
    [editing]="false"
    startDateExpr="start.dateTime"
    endDateExpr="end.dateTime"
    textExpr="summary"
    [startDayHour]="7"
    timeZone="America/Los_Angeles"
    [showAllDayPanel]="false"
    [views]='["day", "workWeek", "month"]'
    currentView="workWeek"
    [currentDate]="currentDate"
    [height]="500">
</dx-scheduler>

<h1>ANGULAR CALENDAR</h1>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-month-view>
<button (click)="onSubmit();">Submit</button> -->
